<!-- your html code here -->
<div class="portfolio">
    <h1>Portafolio</h1>
</div>
<div class="parrafo-tres" style="top: 180%;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsam in rem quia dicta,
        repudiandae
        sequi? Cumque vero possimus, hic rem amet repellat, eos quo, numquam repellendus dicta expedita
        fugiat.</p>
</div>
<div class="card-group">
    <div class="card" style="margin:2%;">
        <img src="https://es.123rf.com/imagenes-de-archivo/fondo_gris.html">
        <div class="card-body">
            <h5 class="card-title"> <strong style="color:rgb(1, 111, 222) ;">Project Name</strong> </h5>
            <p class="card-text">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.
                Nam viverra auismod odio , <br>gravida pellentesque urnas
                varius vitae .</p>

        </div>
    </div>
    <div class="card" style="margin:2%;">
        <img src="https://es.123rf.com/imagenes-de-archivo/fondo_gris.html">
        <div class="card-body">
            <h5 class="card-title"> <strong style="color:rgb(1, 111, 222) ;">Project Name</strong></h5>
            <p class="card-text">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.
                Nam viverra auismod odio ,<br> gravida pellentesque urnas
                varius vitae .</p>

        </div>
    </div>
    <div class="card" style="margin:2%;">
        <img src="https://es.123rf.com/imagenes-de-archivo/fondo_gris.html">
        <div class="card-body">
            <h5 class="card-title"><strong style="color:rgb(1, 111, 222) ;">Project Name</strong></h5>
            <p class="card-text">Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit.<br>
                Nam viverra auismod odio ,
                varius vitae . </p>

        </div>
    </div>
</div>