<!-- your html code here -->
<div class="container2">
    <div>
        <img class="circulo2" src="https://lh3.googleusercontent.com/lK6NE_xtSsd4PXo45WYIkXAKW76BwvPJfDv6e_xPCRqTcIZ-LDx-NmhmOv9E3fbYYKMx4g=s87">
        <h2>The Second Heading <strong style="color:#c2c2c2;">Is Pretty Cool Too.</strong> </h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic blanditiis nisi dolor perspiciatis dolores
            consectetur. Perspiciatis fugit beatae totam saepe ipsam alias cupiditate, impedit quos eligendi modi
            placeat voluptas illum!</p>
    </div>
</div>
